version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - demo-prometeus-app_demo-network

networks:
  demo-network:
    driver: bridge