version: '3'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - demo-prometeus-app_demo-network

networks:
  demo-prometeus-app_demo-network:
    driver: bridge