version: '3'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    logging:
      driver: "json-file"
    networks:
      - demo-network

networks:
  demo-network:
    external: true